//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Anton|Lato:300,400,700';

$baseFontSize: 16px;
$OpenFont: 'Open Sans', sans-serif;
$Antonfont: 'Anton', sans-serif;
$LatoFont: 'Lato', sans-serif;
$medium: 500;
$bold: 700;

$maxWidth: 1024px;

// Paths
$i: "../i/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";


 // Colors
$baseColor: #1d1d1d;
$bgColor: #e2e7ec;
$gray: #818181;
$black: #000000;
$white: #ffffff;
